*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: sans-serif;
}

body{
    margin: 0;
    padding: 0;
}

.calculator-container{
    background-color: ghostwhite;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calculator{
    border: .5px solid lightgrey;
    border-radius: 10px;
    margin: 30px 30px;
    padding: 15px 15px;
    max-width: 450px;
    min-width: 250px;
    width: 100%;
    box-shadow: 0 0 10px rgb(158, 158, 158);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.calculator-glass{
    min-height: 110px;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid lightgrey;
    display: flex;
    flex-direction: column;
}

.temp-values{
    flex: 1;
    display: flex;
    padding: 10px 10px;
    justify-content: end;
}

.temp-values *{
    font-size: 25px;
}

.results{
    font-size: 30px;
    flex: 1;
    display: flex;
    justify-content: end;
}

.calculator-buttons-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.calculator-button-row{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.calculator-button, .calculator-operator, .calculator-special{
    padding: 15px 15px;
    background-color: rgb(238, 238, 238);
    border-radius: 7px;
    width: 100%;
    text-align: center;
}

.calculator-button-row .operator{
    background-color: rgb(209, 207, 207);
}

.calculator-button:hover, .calculator-operator:hover, .calculator-special:hover{
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.calculator-button:active, .calculator-operator:active, .calculator-special:active{
    box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    box-shadow: 0 0 10px rgb(158, 158, 158);
}

.calculator-special.equals{
    background-color: rgb(66, 133, 244);
    color: white;
    font-weight: 700;
}